<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suri.abcbike">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3K5MHfdruWVZpAfMStLxgiNgyG5L1TFc" />

        <activity
            android:name=".activities.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.makeUnitActivity"
            android:label="@string/title_activity_make_unit" />
        <activity
            android:name=".activities.UnitMemberActivity"
            android:label="@string/title_activity_add_unit"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="com.suri.abcbike.activities.UnitMemberActivity"
            android:label="@string/title_activity_unit_member"
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".activities.AddUnitActivity"
            android:label="@string/title_activity_add_unit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CarpoolListAtivity"
            android:label="@string/title_activity_carpool_list_ativity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CarpoolMakeActivity"></activity>
    </application>

</manifest>